{{#each posts}}
	<li>
		<header>
			<img src="{{author_avatar}}" />
			<h2>

				{{title}}
	        </h2>
		</header>

        <p>
        	{{body}}
        </p>


    
    <ul data-post-comments="{{_id}}">
    	{{#if comments.length}}
	    {{#each firstComments}}
	    	<li>
	    		<header>
	    			<img src="{{author_avatar}}" />
	    			<h5>{{author}}</h5>
	    		</header>
	    		<section>
	    			{{text}}
	    		</section>
		    	{{#if my}}
		    	<button data-action="deleteComment" data-comment-id={{_id}} data-post-id={{../_id}}>Delete my Comment</button>
		    	{{/if}}
	    	</li>
	    {{/each}}

	    {{#if hasMoreComments}}
	    	<button class='is-not-hidden' data-action="getMoreComments" data-post-id={{_id}}>Show more comments</button>
	    {{/if}}
	    {{/if}}
    </ul>

    </li>

    {{#if ../username}}
    <form class="addComment" method='put' action='api/post' data-action="addComment" data-post-id={{_id}} >
		<div>
			<label class="addComment--row__label" for='body'>Body</label>
			<textarea data-comment="commentBody" name='body'></textarea>
		</div>
		<div class="addComment--row">
			<input type='submit' value="send" />
		</div>
	</form>
	{{/if}}
{{/each}}